@font-face {
  font-family: 'HSBombaram3_Regular';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
body {
  font-family: 'Wanted Sans Variable', sans-serif;
}
.font-bombaram {
  font-family: 'HSBombaram3_Regular', serif !important;
}
.font-santokki {
  font-family: 'HSSanTokki20-Regular', sans-serif !important;
}
.font-wanted-sans {
  font-family: 'Wanted Sans Variable', sans-serif !important;
}
}